.table {
    border-collapse: collapse;
    border: 1px solid #dee2e6;
    margin: 20px 0;
    width: 100%;
}

.table th,
.table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #dee2e6;
}


.btn-edit,
.btn-delete {
    padding: 10px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color .15s ease-in-out;
    outline: none;
}

.btn-edit {
    background-color: #007bff;
    margin-right: 5px;
}

.btn-delete {
    background-color: #dc3545;
}